:root {
    --background-color: #031A47;
    font-size: 62.5%;
    --weight-title: 500;
    --title-font: 'Oceanic TRIAL';
}
* {
    box-sizing: border-box;
}
#logo {
    display: inline-block;
    width: 7rem;
    padding: 0.5rem;
}
.center-text {
    text-align: center;
    font-size: 2rem;
    display: block;
}
body {
    background-color: antiquewhite;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
}
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    color: white;
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
}
.content-wrapper {
    text-align: center;
}
h1 {
    font-size: 20rem;
}